body {
  background-image: url(opacity.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 300px;
  margin: 50px auto;
  text-align: center;
  padding: 20px;
  border: 2px solid gold;
  border-radius: 10px;
}

input[type="email"],
input[type="password"],
input[type="text"],
button {
  width: 200px;
  display: block;
  padding: 10px;
  margin: 10px auto;
  border: none;
  background-color: white;
  border-radius: 5px;
}

button {
  background-color: gold;
  color: black;
  cursor: pointer;
}

a {
  color: gold;
  text-decoration: none;
}

.back-button {
  display: inline-block;
  background-color: gold;
  border: none;
  color: black;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  background-color: gold;
  color: black;
  text-decoration: none;
  border-radius: 5px;
}

.forgot-password {
  display: block;
  margin-top: 10px;
}
