table {
    caption-side: left;
    font: 14px “Comic Sans MS”;}
caption {
    font-size: 18px;  font-weight: bold;}
tr {
    color: blue;}
th {
    font-style: italic;
    text-decoration: underline;}
td {
    background-color: yellow;  text-align: right;}
body{
    background-image: ("https://i.pinimg.com/736x/09/cc/0e/09cc0ee9ccf168b20017258289f9e426.jpg");
}  